:root{
  --colorbase-1: #1E201E;
  --colorbase-2: #3C3D37;
  --colorbase-3: #3C3D37;
  --colorbase-4: #ECDFCC;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  font-family: system-ui;
  background-color: var(--colorbase-4);
}
.menu {
  height: 100%; 
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--colorbase-1);
  overflow-x: hidden;
  padding-top: 20px;
}
.menu img{
  padding: 10px;
  padding-top: 5px;
  width: 160px;
  border-radius: 20px;
  transition:all .5s ease-in-out;
}
.menu img:hover{
  border-radius:50%;
  box-shadow: 0px 0px 5px 5px var(--colorbase-4);
  transform: rotate(360deg)
}
.menu h2{
  padding-left: 6px;
  margin: 10px;
  text-decoration: none;
  font-size: 32px;
  color: var(--colorbase-4);
  display: block;
  transition: color 0.5s;
  cursor: default;
}
.menu h2:hover{
  color: var(--colorbase-1);
}
.menu a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #6b6a6a;
  display: block;
  transition: color 0.5s;
}
.menu a:hover{
  color: #f1f1f1;
}
.inicio .titulo{
  margin-bottom: 15px;
  margin-left: 500px;
  margin-right: 400px;
  display: flex;
  justify-content: center;
}
.patitas{
  display: grid;
}
.contenido{
  margin-bottom: 20px;
  margin-left: 500px;
  margin-right: 400px;
  border: 4px solid var(--colorbase-3);
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}
.contenido p{
  text-align: center;
  margin-bottom: 8px;
}


