body{
    background: hsla(184, 78%, 49%, 0.612);
    font-family: system-ui;
}
h2{
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-size: 29px;
}
h2:hover{
    color:  #00ffcc
}
a:hover{
    color: rgb(25, 210, 89);
    outline: 3px solid #01c;
}
a:active{
    color: red;
}
button{
    border: 0; 
}
button:focus{
    border: 2px solid seagreen;
}
li:first-child {
    color: purple;
    font-size: 24px;
}
li:last-child {
    color: rgb(6, 128, 0);
}
ul li{
    opacity: 82%;
}
#show {
    background: #01c;
    color: rgb(0, 253, 0);
    border: -lkl2px solid purple;
}
.name{
    color: #01c;
    font-size: 45px;
    border: 3px solid #01c;
}
.description{
    border: inherit;
    font-size: initial;
}